/* COLOUR PALETTE */

/* BACKGROUND COLOURS */
$primary-background: #F8F8F8;
$secondary-background: #28282B;

/* HIGHLIGHT COLOURS */
$primary-highlight: #FB3640;
$secondary-highlight: #FFA91F;
$tertiary-highlight: #078EED;
$quarternary-highlight: #bfb800;

/* OUTLINE COLOURS */
$primary-outline: #ced4da;

/* TEXT COLOURS */
$primary-text: #28282B; 
$secondary-text: #FFFFFF;
$tertiary-text: #FB3640;
$warning-text: #8F0015; /* CARMINE */;
$muted-text: #666666;

/* BUTTONS */
$type-one-btn: #FB3640;
$type-one-btn-border: #B5252C;
$type-one-btn-text: #FFFFFF;
$type-two-btn: #FFFFFF;
$type-two-btn-border: #E2E2E2;
$type-two-btn-text: #28282B;
$type-three-btn: #0d6efd;
$type-three-btn-border: #0d6efd;

/* MESSAGING */
$confirmation-message-background: rgba(7, 142, 237, 0.15);
$error-message-background: rgba(255, 169, 31, 0.15);
$no-events-message-background: rgba(102, 102, 102, 0.15);